!!! 5
%html{ ng-app: 'stereogram-app' }
  %head
   %title Magic Eye Generator
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    %link{ rel: 'stylesheet', href: 'css/main.css' }
  %body
    .container
      %h2 Background texture
      %textures
        %texture{ src: 'img/texture/cloth025.jpg' }
        %texture{ src: 'img/texture/rock.png' }
        %texture{ src: 'img/texture/natfl003.jpg' }
        %texture{ src: 'img/texture/natfl013.jpg' }
        %texture{ src: 'img/texture/natfl049.jpg' }
        %texture{ src: 'img/texture/pa048.jpg' }
        %texture{ src: 'img/texture/water006.jpg' }
        %texture{ src: 'img/texture/water015.gif' }

      %h2 Generated stereogram
      %img#stereogram-image.img-responsive.center-block

      %h2 Depth image
      %img#depth-image.img-responsive.center-block{ src: 'img/depth/bottles.jpg' }

    #footer
      .container
        %p.text-muted
          %a{ href: 'https://github.com/rjw57/stereogram' } Source code is available on Github

    -# Load JavaScript for main page
    %script{ src: 'js/main.js' }
