.col-xs-4.col-sm-3.col-md-2.col-lg-2.texture{ ng-class: '{selected: selected}' }
  %a{ href: '', ng-click: 'selected = true' }
    .img-thumbnail.texture-frame
      .texture-swatch{ style: 'background-image: url({{ src }})' }
