.container
  %h2 Background texture

  %div{ x: { texturegroup: '', ng: { model: 'textureUrl' } } }
    %div{ x: { texture: '', src: 'images/textures/cloth025.jpg' } }
    %div{ x: { texture: '', src: 'images/textures/rock.png' } }
    %div{ x: { texture: '', src: 'images/textures/natfl003.jpg' } }
    %div{ x: { texture: '', src: 'images/textures/natfl013.jpg' } }
    %div{ x: { texture: '', src: 'images/textures/natfl049.jpg' } }
    %div{ x: { texture: '', src: 'images/textures/pa048.jpg' } }
    %div{ x: { texture: '', src: 'images/textures/water006.jpg' } }
    %div{ x: { texture: '', src: 'images/textures/water015.gif' } }

  %h2 Generated stereogram
  %img#stereogram-image.img-responsive.center-block{ x: { ng: { src: '{{ stereogramUrl }}' } } }

  %h2 Depth image
  %img#depth-image.img-responsive.center-block{ x: { ng: { src: '{{ depthImageUrl }}' } } }

.footer
  .container
    %p.text-muted
      %a{ href: 'https://github.com/rjw57/stereogram' } Source code is available on Github
